.categoria-contenido {
	display: flex;
	justify-content: center;
	text-align: center;
	border: solid ;
	padding: 30px;
}
button {
	font-family: $text;
	font-weight: 700;
	letter-spacing: 1.4px;
}
input {
	font-family: $text;
	font-weight: 700;
	letter-spacing: 1.4px;
}
.background {
	display: flex;
	min-height: 100vh;
}
.container {
	flex: 0 1 700px;
	margin: auto;
	padding: 10px;
}
.screen {
	position: relative;
	background: $black;
	border-radius: 15px;
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 20px;
		right: 20px;
		bottom: 0;
		border-radius: 15px;
		box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
		z-index: -1;
	}
}
.screen-header {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	background: $otherBlack;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.screen-header-izquierda {
	margin-right: auto;
}
.screen-header-boton {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-right: 3px;
	border-radius: 8px;
	background: $white;
}
.screen-header-boton.cerrar {
	background: $white;
}
.screen-header-boton.maximizar {
	background: $white;
}
.screen-header-boton.minimizar {
	background: $white;
}
.screen-header-derecha {
	display: flex;
}
.screen-header-ellipsis {
	width: 3px;
	height: 3px;
	margin-left: 2px;
	border-radius: 8px;
	background: $white;
}
.screen-body {
	display: flex;
}
.screen-body-item {
	flex: 1;
	padding: 50px;
}
.screen-body-item.izquierda {
	display: flex;
	flex-direction: column;
}
.app-title {
	display: flex;
	flex-direction: column;
	position: relative;
	color: $white;
	font-size: 26px;
	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		bottom: -10px;
		width: 25px;
		height: 4px;
		background: $white;
	}
}
.app-contact {
	margin-top: auto;
	font-size: 15px;
	color: $white;
	a {
		text-decoration: none;
		color: $white;
	}
}
.app-form-group {
	margin-bottom: 15px;
}
.app-form-group.message {
	margin-top: 40px;
}
.app-form-group.buttons {
	margin-bottom: 0;
	text-align: right;
}
.app-form-control {
	width: 100%;
	padding: 10px 0;
	background: none;
	border: none;
	border-bottom: 1px solid $white;
	color: $white;
	font-size: 14px;
	text-transform: uppercase;
	outline: none;
	transition: border-color .2s;
	&::placeholder {
		color:  $white;
	}
	&:focus {
		border-bottom-color:  $white;
	}
}
.app-form-button {
	background: none;
	border: none;
	color:  $white;
	font-size: 14px;
	cursor: pointer;
	outline: none;
	&:hover {
		color:  $white;
	}
}
.credits {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	color:  $white;
	font-family: $text;
	font-size: 16px;
	font-weight: normal;
}
.credits-link {
	display: flex;
	align-items: center;
	color:  $white;
	font-weight: bold;
	text-decoration: none;
}
.dribbble {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}
