/* Modificacion de FAQs*/

.container-2 {
	width: 45%;
	min-width: 500px;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
}
.wrapper-2 {
	background-color:  $white;
	margin-bottom: 20px;
	padding: 15px 40px;
	border-radius: 5px;
	box-shadow: 0 15px 25px rgba(0,0,50,0.2);
}
.toggle-2 {
	font-family: $text;
	width: 100%;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
	color: $black;
	font-weight: 500;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 15px 0;
	width: 90%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 3em;
}
.content-2 {
	font-family: $text;
	position: relative;
	font-size: 14px;
	text-align: justify;
	line-height: 30px;
	height: 0;
	overflow: hidden;
	transition: all 1s;
	width: 90%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 3em;
}
.titulo-3 {
	padding: 20px;
	color: $black;
	text-align: center;
}
h3 {
	color: $black;
	font-family: $tittle;
}
.pasos {
	color: $otherBlack;
}
/* Fin de FAQs*/
