footer {
	background-color: $otherBlack;
	padding: 20px;
	align-items: center;
}
.footer-social-icons {
	display: flex;
	flex-direction: column;
}
.footer-icons {
	display: flex;
	justify-content: center;
}
ul {
	li {
		width: 100px;
		height: 32px;
		list-style: none;
		display: inline-block;
	}
}
a {
	color: $black;
}
.fab.fa-facebook {
	color: $white;
	font-size: 30px;
}
.fab.fa-instagram {
	color:  $white;
	font-size: 30px;
}
.fab.fa-whatsapp {
	color:  $white;
	font-size: 30px;
}
.social-icons {
	color:  $white;
}
.far.fa-envelope {
	font-size: 30px;
}
