.container-3 {
    display: flex;
    padding: 1.5rem;
    margin: 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }

  .texto {
	text-align: center;
	font-family: $text;
	font-style: italic;
	font-size: 1rem;
	padding: 1rem;
	font-weight: 2rem;
	color: $black;
}
.titulo-principal {
	font-family: $tittle;
	font-style: italic;
	color: $black;
	padding: 4px;
}
p {
	font-family: $text;
	font-style: italic;
	color: $black;
}

.textoQuieneSomos {
	font-family: $tittle;
	font-style: italic;
	color: $black;
	text-align: center;
	font-size: 15px;
	font-weight: 1000;
	border-radius: 130px;
	border-style: solid;
	padding: 50px;
	border-color: $otherBlack;
	line-height: 2rem;
	padding: 3rem;
	margin: 1rem;
}
.nombreQuieneSomos {
	padding: 1rem;
	font-family: $tittle;
	text-align: center;
	color: $black;
	padding: 1.5rem;
}
.texto {
	margin: 1rem;
}
